<div class="l-padding-bottom">
  <div class="card">
    <div class="card-body">
      <h3>Want More Cornbread?</h3>
      <p class="t-body-small">Subscribe to get updates on the Cornbread POTW.<br>
      <div class="">
        {% include mailchimp_subscribe.html %}
      </div>
    </div>
  </div>

</div>
<div class="l-padding-bottom">
<div class="card">
  <div class="card-body">
    <h3>Pages</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  </div>

</div>
<div class="l-padding-bottom">
<div class="card">
  <div class="card-body">
    <h3>Categories</h3>
    <ul>
      <li><a href="/cornbread">Cornbread</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">Opinion</a></li>
      <li><a href="#">Books</a></li>
    </ul>
  </div>
  </div>

</div>
