<div class="l-padding-bottom">
  <div class="card">
    <div class="card-body">
      <h3>Want More Cornbread?</h3>
      <p class="t-body-small">Subscribe to recieve your FREE Cornbread POTW.<br>
      <a href="/contact">Subscribe →</a></p>
    </div>
  </div>

</div>
<div class="l-padding-bottom">
<div class="card">
  <div class="card-body">
    <h3>Categoies</h3>
    <ul>
      <li><a href="/cornbread">Cornbread</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">Opinion</a></li>
      <li><a href="#">Books</a></li>
    </ul>
  </div>
  </div>

</div>
<div class="l-padding-bottom">
<div class="card">
  <div class="card-body">
    <h3>Pages</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  </div>

</div>
