{% for post in site.posts %}
{% if post.categories contains "Cornbread" %}
  <div class="l-padding-bottom">
    <div class="card">
          {% if post.image %}
      <div class="card-image">
        <img class="img-fluid" src="{{ post.image }}" alt="Image" />
      </div>
      {% endif %}
      <div class="card-body">
        <h2>{{ post.title }}</h2>
        <p>
        <strong>{{ post.categories }}</strong> | {{ post.date | date_to_string }}
        <br>
        {{ post.description | truncate_words: 20 }}
      </p>
      <a href="{{ post.url }}" class="stretched-link">
        </a>
      </div>

    </div>
  </div>
  {% endif %}
    {% endfor %}
