{% include js.html %}
<div class="l-padding-top-lg">
  <footer class="footer bg-light">
  <div class="container">
    <div class="row l-padding-bottom">
        <div class="col-md-6 text-md-left">
            <p>Copyright © 2019 Dizzymacho</p>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{{ site.twitter_url }}" class="text-dark" target="_blank">Twitter</a>
            <span class="text-muted mx-2">|</span>
            <a href="{{ site.twitch_url }}" class="text-dark" target="_blank">Twitch</a>
            <span class="text-muted mx-2">|</span>
            <a href="{{ site.spotify_url }}" class="text-dark" target="_blank">Spotify</a>
            <span class="text-muted mx-2">|</span>
            <a href="{{ site.instagram_url }}" class="text-dark" target="_blank">Instagram</a>
        </div>
    </div>

  </div>
  </footer>
</div>
