{% include js.html %}
<footer class="footer">
<div class="container">
  <div class="row">
      <div class="col-md-6 text-md-left">
          <p>Copyright © 2019 Dizzymacho</p>
      </div>
      <div class="col-md-6 text-md-right">
          <a href="{{ site.twitter_url }}" class="text-dark">Twitter</a>
          <span class="text-muted mx-2">|</span>
          <a href="{{ site.twitch_url }}" class="text-dark">Twitch</a>
          <span class="text-muted mx-2">|</span>
          <a href="{{ site.sportify_url }}" class="text-dark">Spotify</a>
          <span class="text-muted mx-2">|</span>
          <a href="{{ site.instagram_url }}" class="text-dark">Instagram</a>
      </div>
  </div>

</div>
</footer>
